    /* Configuração Geral */
    html, body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;    
    }


    .row {
        text-align: center; /* Centraliza todos os textos dentro da row */
    }

    nav, .home, .localizacao, footer {
        color: white;
        font-family: 'Quicksand', sans-serif !important;

    }

    /************ Navbar ********/
    .navbar {
        height: 65px;
    }
    /************ ***** ***********/

    /**** Conteúdo Inicial ********/

    .home {
        width: 100%;
        background-image: url('../images/img1.jpg');
        margin-top: 65px;
        color: white;
    }

    .home > div{
        background-color: rgba(0, 0, 0, 0.9);
        padding-bottom: 50px;
        
    }

    .btn-whatsapp {
        color: white;
    }
     /************ ***** ***********/

     /********** Carousel **********/

     .img-carousel{
        height: 350px;
        width: auto;
        padding: 0px;
        margin: 0px;
    }

    .carousel-background {
        background: fixed;
        background-repeat: round;
    }

    .carousel-opacity {
        background: rgba(0, 0, 0, 0.8);
    }

      /************ ***** ***********/
    
     /********* Footer **************/
    .footer {
        background-color: black;
        color: white; 
    }

    .icons-whatsapp:hover {
        color: green;
    }

    .icons-instagram:hover {
        color: red;
    }

    .developed {
        border-top: 1px solid rgb(197, 195, 195);
    }
    .developed > div > h6 > a > i {
        color: green;
    }
    .developed > div > h6 > a:hover {
        color: green;
    }
     /************ ***** ***********/

   
    /******** Mapa de localização *********/
    .map {
        background-color: rgb(236, 229, 229);
    }
    .map > div > h2 {
        color: black;
    }
    /************ ***** ***********/


    /********** Cardápio****************/

    .cardapio {
        width: 100%;
        font-family: 'Great Vibes', cursive;
        text-transform: capitalize;
        color: white;
        background-image: url('../images/img1.jpg');
    }

    .cardapio-padding > .container > h1, .lines > h3  {
        font-family: 'Great Vibes', cursive;

    }

    .cardapio-padding {
        background: rgba(0, 0, 0, 0.9);

        padding: 20px;
    }

    .cardapio>.cardapio-padding .container {
        border: 2px solid rgb(243, 236, 236);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(0, 0, 0, 0.5);

    }

    .lines {

        border-bottom: 1px solid grey;
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;

    }

    .cardapio-padding > .container > h1 {
        text-align: center;
    }

    /***************** *** **********************/